body {
  background-color: rgb(35, 35, 37);
  color: whitesmoke;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09b7d6;
}

.nav {
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 60px;
  background:#282c34;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  transition: 1s;
  padding: 40px 0px;
}

.nav-list {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #05d9fe;
  height: inherit;
  margin:  0 auto;
  padding: 10px;
  width: 99%;
  margin-left: 0px;
  
 
}

.nav-list__item {
  display: block;
  float: left;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
  background: #05d9fe;
  border-radius: 9px;
  line-height: 2;
  text-align: right;
}

.nav-list__item--active:after {
  content: '';
  display: block;
  background: white;
  transform: rotate(45deg);
  transform-origin: center;
}

.nav-list__link {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}

.nav-list__item:hover {
  color: black;
  background: #09b7d6;
  transform: scale(1.04);
}

.combine-div {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.landing-page-divs {
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: slategray;
  flex-direction: column; 
  margin: 100px auto;
  height: 300px;
  padding: 0px 30px;
  border-radius: 5px; 
  line-height: 30px;
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-page-divs-2 {
  justify-content: center;
  width: 85%;
  background-color: slategray;
  flex-direction: column; 
  margin: 0px 10px 20px 10px;
  height: 300px;
  padding: 0px 30px;
  border-radius: 5px; 
  line-height: 30px;
  display: flex;
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-page-divs-pc {
  display: inline-flex;
  justify-content: center;
  width: 30%;
  background-color: slategray;
  flex-direction: column; 
  padding: 10px 30px;
  border-radius: 5px; 
  height: 700px;
  line-height: 30px;
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-div-content {
  background-color : #282c34;
  height: 360px;
  width: 84%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  padding: 0px 30px;
  margin: 35px 10px 20px 10px;
  border:2px whitesmoke solid;
  box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ptag {
  color: magenta;
  background: lavenderblush;
  padding: 50px; 
  font-size: 82px;
  width: 1578px;
  height: 175px;
}

.GettingStarted {
  color: purple;
  font-style: italic;
  font-size: 100px;
  }

  .gettingStartedDiv {
    background: slategray;
    height: inherit;
    width: 60%;
    margin: 60px auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .gettingStartedDivPic {
    background: slategray;
    height: 300px;
    width: 60%;
    margin: 60px auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .gettingStartedVideoDiv {
    background-color:#05d9fe; 
    height: 60vh; 
    width: 85%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 70px auto 150px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .picJob {
    width: -webkit-fill-available;
    box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }